body{
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.calculatorBody{
    min-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.clearRow{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.bodyRow{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

button{
    width: 50px;
    height: 60px;
    font-size: 20px;
    flex-grow: 1;
}

.display{
    padding: 5px;
    align-items: center;
    border-style: double;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;
}
.lastDisplay{
    height: 21px;
    font-size: 20px;
}
.currentDisplay{
    height: 27px;
    font-size: 26px;
}